<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tengzhongwei.simplenote">

    <!-- TODO: Please find redundant permissions and delete them -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- use self defined permission -->
    <uses-permission android:name="android.myPermission.broadcast"/>

    <!-- define a permission for broadcast -->
    <!-- the sender will be able to use this permission and send broadcasts to receiver only when both the sender and the receiver apps are signed by the same developer certificate. -->
    <permission android:name="android.myPermission.broadcast" android:label="my_permission" android:protectionLevel="signature"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NoteDetailActivity"/>

        <service
            android:name=".MyNewIntentService"
            android:exported="false" >
        </service>

        <receiver
            android:name=".MyReceiver"
            android:permission="android.myPermission.broadcast"
            >
        <!--<receiver-->
            <!--android:name=".MyReceiver"-->
            <!--&gt;-->
            <intent-filter>
                <action android:name="com.example.tengzhongwei.simplenote.actions.notification_action"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>